<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<form action="/postcatagory" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Catagory</label>
    <input type="text" name="catagory" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter add catagory">
  </div>   <br/>
  <button type="submit" class="btn btn-primary">Add Catagory</button>
</form>
</body>
</html>