<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<form>


<div class="form-group">
  <label for="exampleFormControlSelect1">Add Catagory</label>
    <select class="form-control" id="exampleFormControlSelect1">
        <option>Please Select</option>
        <option>Mobile</option>
        <option>Drass</option>
        <option>Laptop</option>
        <option>Computer</option>
        <option>Cak</option>
    </select>
</div>

  <div class="form-group">
    <label for="exampleInputEmail1">Add Product</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter add product">     
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Product Discription</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter add product">     
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Product Quantity</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter add product">     
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Product Image</label>
    <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter add product">     
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Product Color</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter add product">     
  </div>
   
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>