<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<div class="headmanubar bg-warning">
	<div class="" href="/">
		<img src="https://banner2.cleanpng.com/20180519/jjs/kisspng-e-commerce-logo-electronic-business-5b00d2d0918d84.2335269315267806245962.jpg" alt="Girl in a jacket" width="70" height="70">
	</div> 	
	<div class="submanu" href="/">Home</div> 	
	<div class="submanu" href="#">Home</div> 	
	<div class="submanu" href="/#">Home</div> 	
	<div class="submanu" href="/">Home</div> 	
	<div class="submanu" href="/">Home</div>
	<div class="submanu logout"><a class="btn logout" href="/logout" role="button">logout</a></div> 	
</div>

<!-- 

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
	<img src="https://www.logodesign.net/images/nature-logo.png" href="/" alt="Girl in a jacket" width="50" height="60">  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only"></span></a></li>
      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only"></span></a></li>
      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only"></span></a></li>
      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only"></span></a></li>
      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only"></span></a></li>
    </ul>
    <span class="title">Admin Panel</span>
    <form class="form-inline my-2 my-lg-0">
    </form>
      <a class="btn btn-info logout" href="/logout" role="button">logout</a>

    
  </div>
</nav>
 -->
</body>
</html>